.vscode/**
.vscode-test/**
src/**
webview/**
webview-explorer/**
scripts/**
node_modules/**
!node_modules/@duckdb/**
**/*.ts
**/*.map
vite.config.*.ts
tsconfig*.json
.gitignore
**/.DS_Store
sample-data
*.vsix